<%- include ('partials/header') %>

<div class="container-lg">
    <h1>This is the landing page</h1>

    <p>first paragraph</p>

    <a href="/campgrounds" class="btn btn-info">View all campgrounds</a>
</div>


<%- include ('partials/footer') %>