<%- include ('partials/header') %>


<div class="container-lg">
    <div class="text-center"><h1>Create a New Campground</h1></div>
    
    <div class="p-5"> 
        <form action="/campgrounds" method="POST">
            <div class="mb-3 form-group">
                <input type="text" class="form-control" name="name" placeholder="name">
            </div>
            <div class="mb-3 form-group">
                <input type="text" class="form-control" name="image" placeholder="image url">
            </div>
            <button type="submit" class="btn btn-outline-info btn-lg">Submit!</button>
        </form>
        <a href="/campgrounds" class="text-decoration-none"><i class="bi bi-arrow-left-square-fill"></i> back</a>
    </div>    
    
</div>



<%- include ('partials/footer') %>