<%- include ('partials/header') %>

<div class="container-lg">
    <h1>login</h1>

    <div class="p-5">
        <form action="/api/auth/login" method="POST">
            <div class="mb-3 form-group">
                <input type="text" class="form-control" name="username" placeholder="username">
            </div>
            <div class="mb-3 form-group">
                <input type="password" class="form-control" name="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-outline-info btn-lg">Submit!</button>
        </form>
    </div>
</div>

<%- include ('partials/footer') %>